* {
    margin: 0;
    padding: 0;
}

.heart-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff00cc"%3E%3Cpath d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.77-3.4 6.86-8.55 11.54L12 21.35z"/%3E%3C/svg%3E');
    background-size: 50px;
    opacity: 0.03;/
}

body {
    height: 100vh;
    width: 100vw;
    background: #f1bcda;
    font-family: 'Pangolin', cursive;
    font-size: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
}

.container {
    position: relative;
    top: 0vmin;
}

.envelope {
    position: relative;
    background: #ffc7d6;
    ;
    height: 30vmin;
    width: 48vmin;
}

.card {
    position: absolute;
    background: white;
    height: 25vmin;
    width: 43vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 2.5vmin;
    top: 0vmin;

    animation: slide-rev 0.2s ease-out;
}

.message {
    position: absolute;
    top: 5vmin;
}

img {
    width: 30%;
    margin-top: 65px;

}

.cover {
    position: absolute;
    height: 0;
    width: 0;

    border-bottom: 15vmin solid #ffb5c8;
    border-left: 24vmin solid transparent;
    border-right: 24vmin solid transparent;
    top: 15vmin;
    z-index: 3;
}

.cover::after {
    position: absolute;
    content: '';
    border-left: 24.5vmin solid #ffb5c8;
    border-bottom: 15vmin solid transparent;
    border-top: 15vmin solid transparent;
    top: -15vmin;
    left: -24vmin;
}

.cover::before {
    position: absolute;
    content: '';
    border-right: 24.5vmin solid #ffb5c8;
    border-bottom: 15vmin solid transparent;
    border-top: 15vmin solid transparent;
    top: -15vmin;
    left: -0.5vmin;
}

.lid {
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15vmin solid #ffc7d6;
    border-left: 24vmin solid transparent;
    border-right: 24vmin solid transparent;
    top: 0;
    transform-origin: top;
    animation: open-rev 2s;
}

.container:hover .lid {
    animation: open 0.5s;
    animation-fill-mode: forwards;
}

.container:hover .card {
    animation: slide 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.shadow {
    position: relative;
    top: 3vmin;
    border-radius: 50%;
    opacity: 0.7;
    height: 2vmin;
    width: 48vmin;
    background: #e3c3dc;
}

@keyframes open {
    100% {
        transform: rotatex(180deg);
    }
}

@keyframes slide {
    100% {
        transform: translatey(-15vmin);
        z-index: 2;
    }
}

@keyframes open-rev {
    from {
        transform: rotatex(-180deg);

    }
}

@keyframes slide-rev {
    from {
        transform: translatey(-15vmin);
    }
}

